@import './settings/elevation';
@import './settings/dark';

$material-light: (
    'background': #f6f7ff,
);

$material-dark: (
    'background': #13131a,
);


// App bar
$app-bar-elevation: 1 !default;

// Card
$card-elevation: 10 !default;


//0 3px 11px 0 #e8eafc,0 3px 3px -2px hsla(0,0%,69.8%,.1),0 1px 8px 0 hsla(0,0%,60.4%,.1)!important
