@import './settings/elevation';
@import './settings/dark';

$material-light: (
    'background': #f6f7ff,
);


// App bar
$app-bar-elevation: 1 !default;

// Card
$card-elevation: 10 !default;

// Input slot
$input-slot-margin-bottom: 0 !default;
$messages-min-height: 0 !default;

// Breadcrumbs
$breadcrumbs-padding: 12px;
